/**body{
    background-color: #202020;
    color: #4b0082;
}

header{
    
}**/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #202020;
}

.header{
    width: 100%;
    padding: 3rem;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.9rem;
    background-color: indigo;
    color: #fff;
    text-align: center;
}

main{
    display: flex;
    flex-flow: column;
    width: 90%;
    max-width: 950px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    margin-inline: auto;
    padding-bottom: 1.5rem;
    background-color: #181818;
}

.opciones{
    color: #fff;
    padding: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.2rem;
}

label{
    font-weight: 600;
}

input[type = "color"]{
   background-color: inherit;
   border: none;
   height: 2rem;
}

button{
    padding: 0.6rem;
    border-radius: 0.2rem;
    font-weight: 600;
    border: solid indigo 1px;
    background-color: inherit;
    color: #fff;
}

.opciones__btn-rainbow{
    background: linear-gradient(35deg,red, #fca607, rgba(255, 255, 108, 0.918), green, blue, indigo, violet, red);
    border: none;
}

.container__container{
    width: 100%;
    max-width: 600px;
    height: 60vh;
    margin: 3rem auto;
    padding: 0.5rem;
    background-color: #202020;
}

.container{
    width: 100%;
    height: 330px;
    border: solid 1.5px indigo;
    background-color: #fff;
    display: grid;
    gap: 0;
    row-gap: 0;
    box-sizing: border-box;  
}  

.item{
    border: solid 0.1px #181818;
    background-color: #fff;
    margin: 0;
    margin-bottom: 0;
    line-height: 0;
}

.border{
    border: none;
}

@media (min-width: 700px){
   main{
    flex-direction: row;
   }

   .container__container{
    margin-top: 1rem;
    height: 95vh;
   }

   .container{
    height: 580px;
   }
   
   .opciones{
    width: 25%;
    height: 50vh;
   }
}
